
@mixin small-desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$small-desktop-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($radius) {
  -webkit-box-shadow: $radius;
  -moz-box-shadow: $radius;
  -ms-box-shadow: $radius;
  border-radius: $radius;
}